<?php

/**
 * FlexiHuBee - Application config.
 *
 * @author     Vítězslav Dvořák <vitex@arachne.cz>
 * @copyright  2016 Vitex Software
 */

//Logging

/**
 * For Logging we use
 */
define('LOG_TYPE', 'syslog');
/**
 * Application name in in log records
 */
define('LOG_NAME', 'FlexuHUBee');

//Database

/**
 * Database server host
 */
define('DB_SERVER', 'localhost');
/**
 * Database username
 */
define('DB_SERVER_USERNAME', 'flexihubee');
/**
 * Database password
 */
define('DB_SERVER_PASSWORD', 'flexihubee');
/**
 * Database name
 */
define('DB_DATABASE', 'flexihubee');
/**
 * Database port
 */
define('DB_PORT', 5432);
/**
 * Database type
 */
define('DB_TYPE', 'pgsql');

//Mailing

/**
 * Default mail sender
 */
define('EMAIL_FROM', 'flexihubee@localhost');
/**
 * Where send info about new sign ups
 */
define('SEND_INFO_TO', 'root@localhost');
/**
 * Default sender address
 */
define('SEND_MAILS_FROM', 'noreply@spoje.net');
