<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group flexihubee "avahi-service.dtd">
<service-group>
 <name replace-wildcards="yes">FlexiBee exchange Hub</name>
  <service>
   <type>_http._tcp</type>
   <port>80</port>
   <txt-record>path=/flexihubee/</txt-record>
  </service>
</service-group>
